<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div.firstChild {
            margin: auto auto;
            column-count: 4;
        }

        ul {
            list-style-type: none;
            height: 50rem;
        }

        ul li a {
            font-size: 2rem;
            text-decoration: none;
        }

        ul>div{
            height: 10rem;
            width: 30rem;
            border: 5px ridge aquamarine;
        }

        div.secondChild li{
            display: inline-block;
        }

    </style>
</head>

<body>
    <footer>
        <div class="firstChild">
            <ul>
                <li><strong>First Column</strong>
                    <ul>
                        <li><a href=""> Client Success</a></li>
                        <li><a href=""> Press Releases</a></li>
                        <li><a href=""> Partners</a></li>
                        <li><a href=""> Company Overview</a></li>
                        <li><a href=""> Investors</a></li>
                        <li><a href=""> Glossary</a></li>
                        <li><a href=""> Insights</a></li>
                        <li><a href=""> Contact us</a></li>
                        <li><a href=""></a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </li>

                <li><strong>Second Column</strong>
                    <ul>
                        <li><a href="#">Industries</a></li>
                        <li><a href="#">Banking & Financial Services</a></li>
                        <li><a href="#">Insurance</a></li>
                        <li><a href="#">Healthcare</a></li>
                        <li><a href="#">Life Sciences</a></li>
                        <li><a href="#">Industrial</a></li>
                        <li><a href="#">Software & Hi-Tech</a></li>
                        <li><a href="#">Telecom & Media</a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </li>

                <li><strong>Third column</strong>
                    <ul>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Digital Strategy & Design</a></li>
                        <li><a href="#">Software Product Engineering</a></li>
                        <li><a href="#">CX Transformation</a></li>
                        <li><a href="#">Cloud & Infrastructure</a></li>
                        <li><a href="#">Intelligent Automation</a></li>
                        <li><a href="#">Enterprise IT Security</a></li>
                        <li><a href="#">Data & Analytics</a></li>
                        <li><a href="#">Enterprise Integration</a></li>
                        <li><a href="#">Application Development & Management</a></li>
                    </ul>
                </li>
                <li><strong>Fourth Column</strong>
                    <ul>
                        <div>
                            <h6>We’re hiring! Learn about careers at Persistent</h6>
                            <a href="#">EXplore Career</a>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="secondChild">
            <div >
                <ul >
                    <li><a href="#">Persistent Logo</a></li>
                    <li><a href="#">Sitemap </a></li>
                    <li><a href="#">PrivacyNotice </a></li>
                    <li><a href="#">Cookie Policy </a></li>
                    <li><a href="#">Terms of Use </a></li>
                    <li>© 2023 Persistent Systems</li>

                    <li><a href="#">Linkedin</a></li>
                    <li><a href="#">twitter</a></li>
                    <li><a href="#">youtube</a></li>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">instagram</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>