<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        header {
            background-color: #E3F2FD;
        }
        ul {
            list-style:none;
            list-style-type: none;
        }
        li {
            display: inline;
            padding: 5px;
        }
        li > img {
            width:30px;
            height: 30px;
        }
        li > a {
            text-decoration: none;
        }

        li:last-child {
            float:right;
        }
    </style>
</head>
<body>
    <!-- Example: Header element example -->
    <header>
        <ul>
            <!-- Logo details -->
            <li> <img src="../../../images/istockphoto-1468846873-2048x2048.jpg" ></a></li>
            <li> <a href="" >Careers</a></li><!-- Team A -->
            <li> <a href="" >Services</a></li><!-- Team B -->
            <li> <a href="" >Industries </a></li><!-- Team C -->
            <li> <a href="" >Client Success</a></li><!-- Team D -->
            <li> <a href="" >Insights</a></li> <!-- Team E -->
            <li> <a href="" >Ecosystems</a></li><!-- Team F -->
            <li> <a href="" >About us</a></li><!-- Team G -->
            <li> <a href="" > Contact</a></li><!-- Team H -->
            <li> <a href="" > Loing</a></li>
        </ul>
    </header>
</body>
</html>