<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    </style>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <main>
        <h1>HTML Books</h1>
        <p>
            To build websites, you should know about HTML — the fundamental technology used to define the structure of a
            webpage. HTML is used to specify whether your web content should be recognized as a paragraph, list,
            heading, link, image, multimedia player, form, or one of many other available elements or even a new element
            that you define.
        </p>
        <article>

            <h2> HTML Book Index</h2>

            <ul>
                <li>
                    <strong>Getting Started with JavaScript</strong>
                    <ul>
                        <li><a href="">JavaScript's Role in wwww and beyond</a></li>
                        <li><a href="">Developing a Scripting Strategy</a></li>
                        <li><a href="">Selecting and Using your tools</a></li>
                    </ul>
                </li>

                <li>
                    <strong>Getting Started with JavaScript</strong>
                    <ul>
                        <li><a href="">JavaScript's Role in wwww and beyond</a></li>
                        <li><a href="">Developing a Scripting Strategy</a></li>
                        <li><a href="">Selecting and Using your tools</a></li>
                    </ul>
                </li>

                <li>
                    <strong>Getting Started with JavaScript</strong>
                    <ul>
                        <li><a href="">JavaScript's Role in wwww and beyond</a></li>
                        <li><a href="">Developing a Scripting Strategy</a></li>
                        <li><a href="">Selecting and Using your tools</a></li>
                    </ul>
                </li>

                <li>
                    <strong>Getting Started with JavaScript</strong>
                    <ul>
                        <li><a href="">JavaScript's Role in wwww and beyond</a></li>
                        <li><a href="">Developing a Scripting Strategy</a></li>
                        <li><a href="">Selecting and Using your tools</a></li>
                    </ul>
                </li>

                <li>
                    <strong>Getting Started with JavaScript</strong>
                    <ul>
                        <li><a href="">JavaScript's Role in wwww and beyond</a></li>
                        <li><a href="">Developing a Scripting Strategy</a></li>
                        <li><a href="">Selecting and Using your tools</a></li>
                    </ul>
                </li>

                <li>
                    <strong>Getting Started with JavaScript</strong>
                    <ul>
                        <li><a href="">JavaScript's Role in wwww and beyond</a></li>
                        <li><a href="">Developing a Scripting Strategy</a></li>
                        <li><a href="">Selecting and Using your tools</a></li>
                    </ul>
                </li>

            </ul>
        </article>

    </main>
</body>

</html>